body
  margin 0
  padding 0
  background-color black

.container
  display flex
  justify-content center
  align-items center
  //border 1px solid yellow
  height 100vh
  &__card
   
  h1
    color: red
    margin 0